@using CloudStorage.Web.Helpers
@model IEnumerable<FileViewModel>

@{
    var sortMethods = new List<string>
    {
        "Name",
        "Size",
        "Date"
    };
}

<script src="js/displayFile.js"></script>
<script src="js/searchFiles.js"></script>
<script src="js/sortFiles.js"></script>
<script src="js/contextMenuOperations.js"></script>
<script src="js/site.js"></script>
<script src="js/ContentTypesConstants.js"></script>
<script src="js/DeleteFiles.js"></script>

<div id="myOverlay"></div>

<div id="context-menu">
    <div id="rename-option" class="option" onclick="onFileRename()">Rename</div>
    <div class="option" onclick="onFileDelete()">Delete</div>
</div>

<div id="view-all-files-url" style="display: none">
    @Url.Action("ViewAllFiles", "Files")
</div>

<div class="files-options">
    <label>Search: </label>
    <input class="search-input" type="search" placeholder="Type file name..." oninput="onSearchInput(this)"/>

    <label>Sort by</label>

    <div class="dropdown m-2">
        <button id="sortWayButton" name="sortMethod" class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                style="color:black" aria-expanded="False">
            @sortMethods.FirstOrDefault();
        </button>
        <ul class="dropdown-menu">
            @foreach (var sortMethod in sortMethods)
            {
                <li><a class="dropdown-item" href="javascript: void (0)" onclick="onSortingFiles(this)">@sortMethod</a></li>
            }
        </ul>
    </div>
</div>

@{
    string GetPath(byte[] bytes)
    {
        var base64 = Convert.ToBase64String(bytes);
        return $"data: image/gif ;base64,{base64}";
    }
}

<div id="files">
    <div id="no-uploaded-files-info" style="font-size: 20px; margin: 50px; font-style: normal; display: none;">
        No files uploaded...
    </div>
        
    <div id="filesContainer" class="list-group-horizontal-lg">
        @foreach (var file in Model)
        {
            //var fileSrc = @Url.Action("GetFileContent", "Files", new { id = file.Id, contentType = file.ContentType });
            var fileSrc = Url.Action("GetFileContent", "Files") + $"/{file.Id}";

            <div class="list-inline-item">
                <div class="fileItemBox">
                    <div id="fileDescription" class="fileItem" onclick="onSelectingFile(this)" ondblclick="handleFileDoubleClick('@fileSrc', '@file.ContentType')" aria-label="@file.ProvidedName">
                        <div class="fileImageBox">

                            @{
                                string source;

                                if (file.Thumbnail.Length == 0)
                                {
                                    if (FilesExtension.IsWord(file.Extension))
                                    {
                                        source = "word-icon.png";
                                    }
                                    else if (FilesExtension.IsCode(file.Extension))
                                    {
                                        source = "code-icon.png";
                                    }
                                    else if (file.Extension == FilesExtension.Text.Pdf)
                                    {
                                        source = "pdf-icon.png";
                                    }
                                    else if (FilesExtension.IsArchive(file.Extension))
                                    {
                                        source = "archive-icon.png";
                                    }
                                    else
                                    {
                                        source = "document-icon.png";
                                    }
                                }
                                else
                                {
                                    source = GetPath(file.Thumbnail);
                                }
                            }

                            <img class="filePreviewImage" src="@source"/>

                        </div>

                        <div id="fileId" style="display: none">@file.Id</div>
                        <div id="fileName" class="fileName">@file.ProvidedName</div>
                        <div id="fileSize" class="visually-hidden">@file.SizeInBytes</div>
                        <div id="fileCreatedDate" class="visually-hidden">@file.CreatedDate.ToString("R")</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    
    <iframe id="office-documents-viewer" style="display: none;" width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
    
<br/>
<div style="display: inline-block;">
    @{
        await Html.RenderPartialAsync("Create", new FileCreateModel());
    }
</div>

<button id="delete-files-button" style="display: none;" onclick="onDeletingFile()">Delete</button>

<div id="rename-file-url" style="display: none">
    @Url.ActionLink("RenameFile", "Files")
</div>

<div id="delete-file-url" style="display: none">
    @Url.ActionLink("Delete", "Files")
</div>

<script>
    setupContextMenu();
    checkNumberOfFileItems();
    document.getElementById("sortWayButton").textContent = "Date";
    //sortFilesByDate(document.querySelectorAll("div[class=fileItemBox]"));
    //setFilesScopeHeight();
</script>